.s-footer-v0 {
  background-color: #F0ECD3;
}

.s-footer-v0 > .inner {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  box-sizing: border-box;
  padding: 64px 64px 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(
    180deg,
    #FFFFFF 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.s-footer-v0 > .inner > .text-column > .label {
  font-size: 19px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.s-footer-v0 > .inner > .text-column > .value {
  padding-top: 6px;
  font-size: 13px;
  line-height: 1.2;
}

.s-footer-v0 > .inner > .text-column > .value a {
  color: inherit;
}

.s-footer-v0 > .inner > .text-column:last-child {
  text-align: right;
}

/* 1024-512 */
@media (max-width: 1024px) {
  .s-footer-v0 {
    max-width: 512px;
    margin-left: auto;
    margin-right: auto;
  }
  .s-footer-v0 > .inner {
    display: block;
    text-align: center;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .s-footer-v0 > .inner > .text-column:last-child {
    text-align: center;
  }
  .s-footer-v0 > .inner > .text-column:first-child {
    margin-bottom: 64px;
  }
  .s-footer-v0 > .inner > .text-column > .label {
    font-size: 16px;
  }
}