<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="icon" type="image/svg+xml" href="favicon.svg?v=2.7">
    <link rel="icon" type="image/png" href="favicon.png?v=2.7">

    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <link href="master.css?v=2.7" rel="stylesheet">

    <!-- og -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="«Онлайн-карьера в декрете 4.0»">
    <meta property="og:description" content="Онлайн-курс Кристины Гордовой">
    <meta property="og:url" content="https://course.mama-v-online.ru">
    <meta property="og:image" content="https://course.mama-v-online.ru/og.jpg?v=2.7">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://course.mama-v-online.ru/og.jpg?v=2.7">
    <!-- /og -->

    <title>
      «Онлайн-карьера в декрете 4.0» — онлайн-курс Кристины Гордовой
    </title>
  </head>
  <body>

    <main id="page">

      <div v-cloak class="s-promo-v0" id="s-promo-v0">
        <div class="inner">
          <img data-aos="fade-left" data-aos-delay="0" class="cover" src="sections/promo-v0/cover.jpg?v=2.7">
          <div class="descriptors" data-aos="fade-left" data-aos-delay="100">
            <img src="sections/promo-v0/descriptors.svg?v=2.7">
          </div>
          <div class="title-group" data-aos="fade-left" data-aos-delay="200">
            <img src="sections/promo-v0/title-group.svg?v=2.7">
          </div>
          <div data-master-scroll-to="s-author-v0" class="author-badge" data-aos="fade-up" data-aos-delay="500">
            <img src="sections/promo-v0/author-badge.png?v=2.7">
          </div>

          <div class="slider" data-aos="fade-left" data-aos-delay="300">
            <div class="head">
              <div class="title">
                <img src="sections/promo-v0/slider-title.svg?v=2.7">
              </div>
              <div class="pagination">
                <span class="current">{{ ((current)*-1)+1 }}</span>/
                <span class="total">{{ features.length }}</span>
              </div>
              <div class="navigation">
                <img v-on:click="current = current + 1" src="sections/promo-v0/button-prev.svg?v=2.7">
                <img v-on:click="current = current - 1" src="sections/promo-v0/button-next.svg?v=2.7">
              </div>
            </div>
            <div class="list v-full" ref="listFull" data-item-width="435">
              <div v-for="item in features" class="item">
                <img :src="'sections/promo-v0/slider-item-' + item + '.svg?v=2.7'">
              </div>
            </div>
            <div class="list v-960" ref="list960" data-item-width="328">
              <div v-for="item in features" class="item">
                <img :src="'sections/promo-v0/slider-item-' + item + '-m.svg?v=2.7'">
              </div>
            </div>
          </div>

          <div class="menu" data-aos="fade-left" data-aos-delay="400">
            <img data-master-scroll-to="s-form-v0" class="button" src="sections/promo-v0/button.svg?v=2.7">
            <img data-master-scroll-to="s-program-v0" class="link" src="sections/promo-v0/link-program.svg?v=2.7">
            <img data-master-scroll-to="s-author-v0" class="link" src="sections/promo-v0/link-author.svg?v=2.7">
            <img data-master-scroll-to="s-testimonials-v1" class="link" src="sections/promo-v0/link-testimonials.svg?v=2.7">
            <img class="arrow" src="sections/promo-v0/arrow.svg?v=2.7">
          </div>
        </div>
      </div>

      <div id="s-promo-v1" class="s-promo-v1">
        <img class="base" src="sections/promo-v1/base.jpg?v=2.7">
        <img class="descriptors" src="sections/promo-v1/descriptors.svg?v=2.7">
        <img data-master-scroll-to="s-author-v1" class="author-badge" src="sections/promo-v1/author-badge.png?v=2.7">
        <img class="text-group" src="sections/promo-v1/text-group.svg?v=2.7">
        <img data-master-scroll-to="s-form-v0" class="button" src="sections/promo-v1/button.svg?v=2.7">
        <img data-master-scroll-to="s-features-v0" class="caption" src="sections/promo-v1/caption.svg?v=2.7">
      </div>

      <div id="s-features-v0" class="s-features-v0">
        <div class="inner">
          <img class="text-group" src="sections/features-v0/text-group.svg?v=2.7">
          <div class="list">
            <img src="sections/features-v0/features-item-1.svg?v=2.7">
            <img src="sections/features-v0/features-item-2.svg?v=2.7">
            <img src="sections/features-v0/features-item-3.svg?v=2.7">
            <img src="sections/features-v0/features-item-4.svg?v=2.7">
            <img src="sections/features-v0/features-item-5.svg?v=2.7">
            <img src="sections/features-v0/features-item-6.svg?v=2.7">
            <img src="sections/features-v0/features-item-7.svg?v=2.7">
            <img src="sections/features-v0/features-item-8.svg?v=2.7">
          </div>
        </div>
      </div>

      <div id="s-program-v0" ref="program" class="s-program-v0">
        <div class="inner">
          <img data-aos="fade-up" data-aos-delay="0" class="text-group" src="sections/program-v0/text-group.svg?v=2.7">
          <div class="list">
            <img data-aos="fade-left" data-aos-delay="0" src="sections/program-v0/program-item-1.svg?v=2.7">
            <img data-aos="fade-left" data-aos-delay="100" src="sections/program-v0/program-item-2.svg?v=2.7">
            <img data-aos="fade-left" data-aos-delay="200" src="sections/program-v0/program-item-3.svg?v=2.7">
            <img data-aos="fade-left" data-aos-delay="300" src="sections/program-v0/program-item-4.svg?v=2.7">
            <img data-aos="fade-left" data-aos-delay="400" src="sections/program-v0/program-item-5.svg?v=2.7">
            <img data-aos="fade-left" data-aos-delay="500" src="sections/program-v0/program-item-6.svg?v=2.7">
            <img data-aos="fade-left" data-aos-delay="600" src="sections/program-v0/program-item-7.svg?v=2.7">
            <img data-aos="fade-left" data-aos-delay="700" src="sections/program-v0/program-item-8.svg?v=2.7">
            <img data-master-scroll-to="s-form-v0" data-aos="fade-left" data-aos-delay="800" src="sections/program-v0/program-item-9.svg?v=2.7" class="button">
          </div>
        </div>
      </div>

      <div class="s-author-v0" id="s-author-v0">
        <div class="inner">
          <img data-aos="fade-up" data-aos-delay="0" class="text-group" src="sections/author-v0/text-group.svg?v=2.7">
          <img data-aos="fade-up" data-aos-delay="100" class="cover" src="sections/author-v0/cover.jpg?v=2.7">
          <div data-aos="fade-up" data-aos-delay="300" class="about-section">
            <a href="https://t.me/kristina_gordova" target="_blank">
              <img class="author" src="sections/author-v0/author.svg?v=2.7">
            </a>
            <div class="about">
              <ul>
                <li v-for="item in regalia" v-html="item"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div ref="author-v1" class="s-author-v1" id="s-author-v1">
        <div class="inner">
          <img class="text-group" src="sections/author-v1/text-group.svg?v=2.7">
          <img class="cover" src="sections/author-v1/cover.jpg?v=2.7">
          <a href="https://t.me/kristina_gordova" target="_blank">
            <img class="author" src="sections/author-v1/author.svg?v=2.7">
          </a>
          <div class="about">
            <ul>
              <li v-for="item in regalia" v-html="item"></li>
            </ul>
          </div>
        </div>
      </div>

      <div ref="testimonials" v-cloak class="s-testimonials-v1" id="s-testimonials-v1">
        <div class="inner">
          <img data-aos="fade-up" data-aos-delay="0" class="text-group" src="sections/testimonials-v1/text-group.svg?v=2.7">
          <div class="controls">
            <button
              v-on:click="switchTestimonial(testimonials.currenSlideIndex - 1)"
              type="button"
            >
              <img src="sections/testimonials-v1/prev.svg">
            </button>
            <button
              v-on:click="switchTestimonial(testimonials.currenSlideIndex + 1)"
              type="button"
            >
            <img src="sections/testimonials-v1/next.svg">
            </button>
          </div>

          <div class="slide">
            <div
              v-for="testimonial in currentSlide"
              v-bind:class="{ 'v-video': testimonial.video_id }"
              class="phone"
            >
              <div v-if="testimonial.video_id" class="inner v-player">
                <iframe
                  :src="'https://www.youtube.com/embed/' + testimonial.video_id"
                  :title="testimonial.name"
                  frameborder="0"
                  allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen
                ></iframe>
              </div>
              <div v-else class="inner">
                <div class="header">
                  <div class="avatar">
                    <img :src="'sections/testimonials-v1/' + testimonial.slug + '.png'">
                  </div>
                  <div class="text">
                    <div class="name">
                      {{ testimonial.name }}
                    </div>
                    <div class="link">
                      <a
                        v-if="testimonial.telegram"
                        :href="'https://t.me/' + testimonial.telegram"
                        target="_blank"
                      >
                        @{{ testimonial.telegram }}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="body">
                  <div v-for="p in testimonial.text" class="message">
                    {{ p }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="controls">
            <button
              v-on:click="switchTestimonial(testimonials.currenSlideIndex - 1)"
              type="button"
            >
              <img src="sections/testimonials-v1/prev.svg">
            </button>
            <button
              v-on:click="switchTestimonial(testimonials.currenSlideIndex + 1)"
              type="button"
            >
            <img src="sections/testimonials-v1/next.svg">
            </button>
          </div>
        </div>
      </div>

      <div id="s-form-v0" class="s-form-v0">
        <div class="inner">
          <script
            id="0baccf676c562d0302264ef4cfe770d73a16ff9c"
            src="https://mama-v-online.ru/pl/lite/widget/script?id=868318"
          ></script>
        </div>
      </div>

      <div class="s-footer-v0">
        <div class="inner">
          <div class="text-column">
            <div class="label">Онлайн-карьера в декрете 4.0</div>
            <div class="value">онлайн-курс Кристины Гордовой</div>
          </div>
          <div class="text-column">
            <div class="label">© 2023</div>
            <div class="value">
              <a href="https://gordov.pro/oferta" target="_blank">
                Публичная оферта
              </a>
            </div>
          </div>
        </div>
      </div>

    </main>
    

    <script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js" charset="utf-8"></script>
    <script src="https://unpkg.com/jquery@3.6.0/dist/jquery.min.js" charset="utf-8"></script>
    <script src="https://unpkg.com/lodash@4.17.21/lodash.min.js" charset="utf-8"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script src="scripts/scroll-to.js?v=2.7"></script>
    <script src="scripts/testimonials.js?v=2.7"></script>

    <script src="sections/promo-v0/script.js?v=2.7"></script>
    <script src="sections/promo-v1/script.js?v=2.7"></script>
    <script src="sections/program-v0/script.js?v=2.7"></script>
    <script src="sections/author-v0/script.js?v=2.7"></script>
    <script src="sections/author-v1/script.js?v=2.7"></script>
    <script src="sections/testimonials-v1/script.js?v=2.7"></script>

  </body>
</html>