.s-author-v0 {
  background-color: #F0ECD3;
}

.s-author-v0 > .inner {
  position: relative;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding-top: 80px;
  padding-bottom: 80px;
}

.s-author-v0 > .inner > .text-group {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
}

.s-author-v0 > .inner > .cover {
  display: block;
  width: 100%;
  max-width: 1066px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

.s-author-v0 > .inner > .about-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.s-author-v0 > .inner > .about-section > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 346px;
  transition: all .3s;
}

.s-author-v0 > .inner > .about-section > a:hover {
  transform: translateY(-8px);
}

.s-author-v0 > .inner > .about-section > a > img {
  display: block;
}

.s-author-v0 > .inner > .about-section > .about {
  margin-left: 48px;
  width: 672px;
  border-radius: 32px;
  box-sizing: border-box;
  padding: 48px;
  background-color: rgba(255, 255, 255, .64);
}

.s-author-v0 > .inner > .about-section > .about ul {
  margin: 0;
  padding: 0;
}

.s-author-v0 > .inner > .about-section > .about ul li {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.33;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 28px;
}

.s-author-v0 > .inner > .about-section > .about ul li span {
  font-weight: 700;
}

.s-author-v0 > .inner > .about-section > .about ul li:before {
  display: block;
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: 8px;
  top: 14px;
  background-color: #343434;
}

/* 1344-960 */
@media (max-width: 1344px) {
  .s-author-v0 > .inner {
    max-width: 960px;
  }
}

/* 1024-512 */
@media (max-width: 1024px) {
  .s-author-v0 {
    display: none;
  }
}