.s-features-v0 {
  display: none;
  max-width: 512px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F0ECD3;
}

.s-features-v0 > .inner {
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  max-width: 448px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 32px;
  background-color: #fff;
}

.s-features-v0 > .inner > img.text-group {
  display: block;
  width: 100%;
  margin-bottom: 32px;
}

.s-features-v0 > .inner > .list {
  /**/
}

.s-features-v0 > .inner > .list > img {
  display: block;
  width: 100%;
}

/* 1024-512 */
@media (max-width: 1024px) {
  .s-features-v0 {
    display: block;
  }
}