.s-button-row-v0 {
  background-color: #F0ECD3;
}

.s-button-row-v0 > .inner {
  padding: 32px;
}

.s-button-row-v0 > .inner > img {
  display: block;
  width: 100%;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
  border-radius: .92rem;
  cursor: pointer;
  transition: all .3s;
}

.s-button-row-v0 > .inner > img:hover {
  transform: translateY(-8px);
  box-shadow: 0 16px 32px rgba(182, 174, 125, .56);
}

/* 1024-512 */
@media (max-width: 1024px) {
  .s-button-row-v0 {
    max-width: 512px;
    margin-left: auto;
    margin-right: auto;
  }
}