<div ref="testimonials" v-cloak class="s-testimonials-v0" id="s-testimonials-v0">
  <div class="inner">
    <img data-aos="fade-up" data-aos-delay="0" class="text-group" src="sections/testimonials-v0/text-group.svg?v=2.7">
    <div class="controls">
      <button
        v-on:click="switchTestimonial(testimonials.currentIndex - 1)"
        type="button"
      >
        <img src="sections/testimonials-v0/prev.svg">
      </button>
      <button
        v-on:click="switchTestimonial(testimonials.currentIndex + 1)"
        type="button"
      >
      <img src="sections/testimonials-v0/next.svg">
      </button>
    </div>
    <div
      v-bind:class="'v-' + currentTestimonial.color"
      class="item"
    >
      <div v-if="currentTestimonial.video_id" class="type-video">
        <div class="player">
          <iframe
            :src="'https://www.youtube.com/embed/' + currentTestimonial.video_id"
            :title="currentTestimonial.name"
            frameborder="0"
            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div v-else class="type-text">
        <div class="head">
          <div class="avatar">
            <img :src="'sections/testimonials-v0/' + currentTestimonial.slug + '.png'">
          </div>
          <div class="name">
            {{ currentTestimonial.name }}
            <a
              v-if="currentTestimonial.telegram"
              :href="'https://t.me/' + currentTestimonial.telegram"
              target="_blank"
            >
              @{{ currentTestimonial.telegram }}
            </a>
          </div>
        </div>
        <div class="body">
          <div class="box">
            <p>
              {{ currentTestimonial.text }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="controls">
      <button
        v-on:click="switchTestimonial(testimonials.currentIndex - 1)"
        type="button"
      >
        <img src="sections/testimonials-v0/prev.svg">
      </button>
      <button
        v-on:click="switchTestimonial(testimonials.currentIndex + 1)"
        type="button"
      >
      <img src="sections/testimonials-v0/next.svg">
      </button>
    </div>
  </div>
</div>